.portfolio-wrapper [class*=col-] {
    margin-top: 15px;
    margin-bottom: 15px;
}

.work-content {
    display: block;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.portfolio-item .thumb {
    overflow: hidden;
}

.portfolio-item .thumb img {
    display: block;
}

.portfolio-item .details {
    color: #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.portfolio-item .details h4 {
    color: #FFF;
    font-size: 20px;
    margin: 0;
    padding: 20px;
}

.portfolio-item .details span.term {
    color: #FFF;
    background: #3281B9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 14px;
    opacity: 0;
    display: inline-block;
    padding: 3px 10px;
    position: absolute;
    top: 0;
    left: 20px;
    transform: translateY(-40px);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.portfolio-item .mask {
    background: #1B262C;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio-item:hover .mask {
    opacity: 0.9;
}

.portfolio-item:hover .details span {
    opacity: 1;
    transform: translateY(0);
}

.portfolio-filter {
    margin-bottom: 25px;
}

.portfolio-filter li {
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio-filter li:hover {
    color: #3281B9;
}

.portfolio-filter li.current {
    color: #3281B9;
}

.portfolio-filter li:not(:last-child) {
    margin-right: 1.8rem;
}

@media only screen and (max-width: 768px) {
    .portfolio-filter {
        display: none;
    }

    .portfolio-item {
        max-width: 360px;
        margin: auto;
    }
}