.timeline {
    position: relative;
}

.timeline .timeline-container {
    padding-left: 50px;
    margin-bottom: 25px;
    position: relative;
    width: 100%;
}

.timeline .timeline-container:last-of-type {
    margin-bottom: 0;
}

.timeline .timeline-container::after {
    background: #0E4B77;
    font-family: "simple-line-icons";
    font-size: 24px;
    color: #3281B9;
    position: absolute;
    left: -7px;
    top: 0;
    z-index: 1;
}

.timeline.-school .timeline-container::after {
    content: "";
}

.timeline.-employers .timeline-container::after {
    content: "";
}

.timeline .content {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
}

.timeline .content .time {
    color: inherit;
    font-size: 14px;
}

.timeline .content h3 {
    font-size: 20px;
    margin: 5px 0;
    line-height: 1;
}

.timeline .content p {
    margin: 0;
}

.timeline span.line {
    position: absolute;
    width: 1px;
    background-color: #3281B9;
    top: 30px;
    bottom: 30px;
    left: 34px;
}