header.desktop-header-2 {
    color: #FFF;
    border-right: solid 1px rgba(255, 255, 255, 0.1);
    background: transparent;
    padding: 40px;
    position: fixed;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    min-height: 100vh;
    top: 0;
    width: 110px;
    z-index: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* === Vertical Menu === */
}

header.desktop-header-2.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

header.desktop-header-2 .vertical-menu {
    list-style: none;
    padding: 0;
}

header.desktop-header-2 .vertical-menu li.openmenu>a {
    color: #000;
}

header.desktop-header-2 .vertical-menu li.openmenu .switch {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

header.desktop-header-2 .vertical-menu li {
    padding: 8px 0;
    position: relative;
    list-style: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

header.desktop-header-2 .vertical-menu li a:hover {
    color: rgba(255, 255, 255, 0.5);
}

header.desktop-header-2 .vertical-menu li a:hover i {
    color: #889c84;
    opacity: 1;
}

header.desktop-header-2 .vertical-menu li i {
    margin-right: 20px;
    opacity: 0.4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header.desktop-header-2 .vertical-menu li a {
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    text-decoration: none;
    position: relative;
}

header.desktop-header-2 .vertical-menu li a.nav-link {
    display: initial;
    padding: 0;
}

header.desktop-header-2 .vertical-menu li .nav-link.active {
    color: #889c84;
}

header.desktop-header-2 .vertical-menu li .nav-link.active i {
    color: #889c84;
    opacity: 1;
}

header.desktop-header-2 .footer {
    margin-top: auto;
    position: relative;
}

header.desktop-header-2 .copyright {
    color: rgba(136, 156, 132, 0.5);
    font-size: 14px;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    white-space: nowrap;
    display: inline-block;
    overflow: visible;
}

header.desktop-header-2.light {
    background: #F9F9FF;
    border-right: solid 1px rgba(0, 0, 0, 0.05);
}

header.desktop-header-2.light .vertical-menu li i {
    color: #353353;
    opacity: 1;
}

header.mobile-header-1 {
    background: #353353;
    display: none;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header.mobile-header-1.open {
    -webkit-transform: translateX(290px);
    -moz-transform: translateX(290px);
    -ms-transform: translateX(290px);
    -o-transform: translateX(290px);
    transform: translateX(290px);
}

header.mobile-header-1 .menu-icon button {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    height: 33px;
    width: 33px;
}

header.mobile-header-1 .menu-icon span {
    display: block;
    background: #FFF;
    border-radius: 5px;
    height: 4px;
    position: relative;
    width: 30px;
}

header.mobile-header-1 .menu-icon span:before {
    content: "";
    display: block;
    background: #FFF;
    border-radius: 5px;
    height: 4px;
    top: -10px;
    position: absolute;
    width: 30px;
}

header.mobile-header-1 .menu-icon span:after {
    content: "";
    display: block;
    background: #FFF;
    border-radius: 5px;
    height: 4px;
    top: 10px;
    position: absolute;
    width: 30px;
}

header.mobile-header-1 .site-logo {
    display: inline-block;
}

header.mobile-header-1 .site-logo img {
    max-height: 30px;
}

header.mobile-header-1.light {
    background: #F9F9FF;
}

header.mobile-header-1.light .menu-icon span {
    background: #353353;
}

header.mobile-header-1.light .menu-icon span:before,
header.mobile-header-1.light .menu-icon span:after {
    background: #353353;
}

header.mobile-header-2 {
    background: #353353;
    display: none;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header.mobile-header-2.open {
    -webkit-transform: translateX(110px);
    -moz-transform: translateX(110px);
    -ms-transform: translateX(110px);
    -o-transform: translateX(110px);
    transform: translateX(110px);
}

header.mobile-header-2 .menu-icon button {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    height: 33px;
    width: 33px;
}

header.mobile-header-2 .menu-icon span {
    display: block;
    background: #FFF;
    border-radius: 5px;
    height: 4px;
    position: relative;
    width: 30px;
}

header.mobile-header-2 .menu-icon span:before {
    content: "";
    display: block;
    background: #FFF;
    border-radius: 5px;
    height: 4px;
    top: -10px;
    position: absolute;
    width: 30px;
}

header.mobile-header-2 .menu-icon span:after {
    content: "";
    display: block;
    background: #FFF;
    border-radius: 5px;
    height: 4px;
    top: 10px;
    position: absolute;
    width: 30px;
}

header.mobile-header-2 .site-logo {
    display: inline-block;
}

header.mobile-header-2 .site-logo img {
    max-height: 30px;
}

.desktop-header-3 {
    background: #353353;
    padding: 20px 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.desktop-header-3 .navbar {
    padding: 0;
}

.desktop-header-3 .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.desktop-header-3 .navbar-dark .navbar-nav .nav-link {
    color: #FFF;
}

.desktop-header-3 .nav-link {
    font-size: 16px;
    font-weight: 700;
    padding: 0;
}

.desktop-header-3 .nav-link.active {
    color: #889c84 !important;
}

.desktop-header-3 .nav-link:hover {
    color: #889c84 !important;
}

.desktop-header-3 .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0.25rem;
}

.desktop-header-3 button.navbar-toggler:focus {
    outline: 0;
}

.desktop-header-3 .navbar-nav li:not(:last-child) {
    padding-right: 3rem;
}

@media (min-width: 992px) {
    .desktop-header-3 .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}

.desktop-header-3.light {
    background: #F9F9FF;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.desktop-header-3.light .navbar-dark .navbar-nav .nav-link {
    color: #353353;
}

@media only screen and (max-width: 991px) {
    header.mobile-header-1 {
        display: block;
    }

    main.content {
        margin-left: 0;
    }

    header.desktop-header-2 {
        -webkit-transform: translateX(-110px);
        -moz-transform: translateX(-110px);
        -ms-transform: translateX(-110px);
        -o-transform: translateX(-110px);
        transform: translateX(-110px);
    }

    header.mobile-header-2 {
        display: block;
    }

    main.content-2 {
        margin-left: 0;
    }

    .desktop-header-3 .nav-link {
        padding: 7px 0;
    }
}

@media only screen and (max-height: 667px) {
    header.desktop-header-2 .footer {
        margin-top: 100px;
    }
}